@font-face {
    font-family: 'Baskervville', serif;
    src: url(../../src/fonts/Baskervville-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'Baskervville-italic', serif;
    src: url(../../src/fonts/Baskervville-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Frank Ruhl Libre', serif;
    src: url(../../src/fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: url(../../src/fonts/PlayfairDisplay-Bold.ttf);
}
/* header */
header{
    display: flex;
    margin-top: 20px;
}
.logo{
    float: left;
}
.contact{
    display: inline-flex;
    margin-top: 2rem;
    float: right;
}
.contact h2 a {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #dfb947;
    margin-top: .6rem;
}
.contact h2{
    line-height: 2.2;
}
.contact ul{
    margin-left: 0px;
    list-style: none;
    display: flex;
}
.contact li{
    width: 45px;
    height: 45px;
    border:1px solid #000000;
    margin: 10px;
    text-align: center;
    border-radius: 35px;
    line-height: 40px;
}
.contact a{
color: black;
}
hr{
    border-width: 1.5px;
    margin-top: 0;
}
/* nav */

nav a{
    font-family: 'Baskervville', serif;
    font-size: 19px;
    color: #000000;
}
.navbar-expand-xl .navbar-nav .nav-link {
    padding-left: .8rem;
}
/* carousel */
.home-carousel .item {
    width: 100%;
}
.home-carousel .item .content {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Playfair Display', serif;
    padding: 2rem;
}
.home-carousel .item h1 {
    color:#dfb947;
    font-size: 4vw;
    font-weight: 900;
}
.home-carousel .item p {
    font-size: 14pt;
    line-height: 1.75;
}
.home-carousel .item a {
    text-decoration: none;
    font-size: 18pt;
    color: #000000;
    border-bottom: 1px solid #000000;
    display: inline-block;
}
.home-carousel .owl-nav{
    position: absolute;
    right: 4rem;
    bottom: 15px;
    font-size: 18pt;
    color: #dfb947;
}
.home-carousel .owl-nav {
    position: absolute;
    right: 4rem;
    bottom: 15px;
    font-size: 18pt;}
.home-carousel .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #dfb947;
    text-decoration: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    border:none
}
/* About us */
.aboutus{
    margin: 4rem 0 12rem 0;
    position: relative;
}
.aboutus h1{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3rem;
    font-size: 32pt;
    text-align: center;
    font-weight: 700;
    background-color: #f7f6f9;
    display: inline-block;
    word-spacing: 1rem;
    height: 700px;
    padding: 2rem 0 2rem 2rem;
}
.aboutus_one{
    position: absolute;
    top: 100px;
}
.aboutus_two{
    position: absolute;
    top: 300px;
    right: 10%;
    height: 500px;
    width: 375px;
}
.box{
    width: 150px;
    height: 500px;
    background-color: #dfb947;
    position: absolute;
    bottom: -60px;
    right: -30px;
    z-index: -1
}
.aboutus p{
    font-family: 'Baskervville-italic', serif;
    font-style: italic;
    font-size: 18pt;
    width: 50%;
    margin-top: 3rem;
}
.aboutus a{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 18pt;
    color: #000000;
    border-bottom: 1px solid #000000;
    display: inline-block;
}
/* services */
.services{
    background-color: #f7f6f9;
    padding: 40px 0;
}
.img1{
    padding: 15px 25px 15px 0;
}
.img2{
    padding: 15px 0 15px 25px;
}
.services h1{
    font-family: 'Playfair Display', serif;
    font-size: 72pt;
    color:#dfb947;
    margin-bottom: -50px;
    margin-right: 5%;
    text-align: right;
}
.services h2{
    width: 100%;
    background:rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    line-height: 2;
    font-family: 'Playfair Display', serif;
}
.content{
    position: relative;
}
.caption{
    position: absolute;
    bottom:-9px;
    left:0;
    right: 0;
}

.services p{
   font-family: 'Baskervville-italic', serif;
   font-style: italic;
   font-size: 18pt;
   line-height: 1.75;
   margin-bottom: 2rem;
}
.serviceOne{
    margin-left: 10%;
    margin-top: 20px;
}
.serviceTwo {
    margin-right: 10%;
    margin-top: 50px;
}
/* enquiry */
.enquiry{
    background-image: url(../img/req-form-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
}
form{
    padding:40px 15px;
}
label{
    font-family:'Baskervville', serif;
    color: #666666;
    margin: 10px 0 0 0;
}
.form-row>[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}
.form-control{
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
}
.form-control:focus,
.btn-link:focus {
     border-left: none;
     border-top: none;
     border-right: none;
    border-color: #dfb947;
    box-shadow: none;
}
textarea{
    resize: none;
}
form .btn-link{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #dfb947;
    border-bottom: 1px solid #dfb947;
    width: 100px;
    border-radius: 0;
    padding: 0;
    font-weight: 700;
}
.btn-link:hover {
    color: #dfb947;
    text-decoration: none;
}
.form-content{
    text-align: right;
    color: #ffffff;
}
.form-content h1{
 font-family: 'Playfair Display', serif;
 font-size: 5vw;
 margin-top: 5rem;
 text-transform: uppercase;
}
.form-content p{
    font-family: 'Baskervville-italic', serif;
    font-size: 18pt;
    color: #ffffff;
    font-style: italic;
    margin-left: 10%;
    margin-top: 2rem;
}
/* testimonials */
.testimonials{
    margin: 4rem;
}
.testimonial-carousel .item img{
    width: 90%;
}
.testimonial-carousel p{
    font-family: 'Baskervville-italic', serif;
font-style: italic;
font-size: 18pt;
}
.testimonial-carousel .quotes{
    display: block;
     font-family: 'Baskervville', serif;
     font-size: 72pt;
    line-height: .5;
}
.testimonial-carousel .content{
    margin-top: 25%;
    position: relative;
}
.testimonial-carousel span{
    font-family: 'Baskervville-italic', serif;
    font-style: italic;
    text-decoration: none;
    font-size: 18pt;
    color: #dfb947;
    border-bottom: 1px solid #dfb947;
    display: inline-block;
}
.testimonial-carousel span::before{
    content:'- '
}
.testimonial-carousel .owl-nav{
       text-align: left;
}
.testimonial-carousel .item .owl-theme .owl-nav [class*=owl-]{
    margin: 1rem;
    color:#000000
}
/* footer */
.footer{
    background-color: #a7a090;
    padding: 3rem 0;
    margin-top: 3rem;
}
.footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 1rem;
}
.footer .nav-link{
    padding:.6rem
}
.footer li a{
    color: #ffffff;
    text-decoration: none;
}
.footer h3{
 font-family: 'Playfair Display', serif;
    color: #000000;
    margin: 1.5rem 0;
    font-weight: 700;
    font-size: 18pt;
}
.footer p{
    font-family: 'Baskervville', serif;
    color: #ffffff;
    font-size: 16pt;
    width: 80%;
    margin:0 auto
}
.footer .text-center a{
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt;
}
.footer .copyrights{
    float: left;
 font-family: 'Playfair Display', serif;
font-size: 10pt;
color: #ffffff;
line-height: 6;
}
footer img{
    float: right;
}
footer{
    margin-top: 3rem;
    padding-bottom: 3rem;
}
@media (max-width:991px){
    /* navigation */
    .navbar-nav{
        background-color: #f0f8ff;
    }
    /* about us */
    .aboutus{
        margin:4rem 0 6rem 0 
    }
    .aboutus_one, .aboutus_two{
        position: relative;
        top: 0;
        margin: 2rem 0;
    }
    .aboutus_two{
        margin: 0 auto;
        right: 0;
    }
    .aboutus h1{
        letter-spacing: 1rem;
        height: 0px;     
        background-color: none;
        padding: 0;
    }
    .aboutus p{
        width: 100%;
        padding: 1rem;
    }
    .aboutus a{
        margin: 0 1rem;
    }
    /* testimonials */
    .testimonial-carousel .content {
        margin-top: 1rem
}
@media (max-width:767px){
    .home-carousel .item .content{
        width: 70%;
        margin: 0 auto;
    }
    /* header */
    .contact, .logo{
        display:block;
        float: none;
        text-align: center;
    }
    .contact h2{
        font-size: 18pt;
    }
    .contact ul{
        display: inline-flex;
        padding-left: 0;
    }
    /* services */
    .img1, .img2{
        padding: 0;
    }
    .services h1{
        margin-bottom: 0;
        font-size: 48pt;
        text-align: center;
        margin-right: 0;
    }
    .services h2{
        line-height: 1.5;
    }
    .serviceOne, .serviceTwo{
        margin: 15px;
    }
    /* enquiry */
    .form-content{
        text-align: left;
    }
    .form-content p{
        margin-left: 0;
    }
    /* footer */
.footer .copyrights {
line-height: 2;
    float: none;
    display: block;
margin-bottom: 2rem;
}
footer img{
    float: none;
}
footer{
    padding-bottom: 0rem;
}
}
@media (max-width:576px){
.owl-nav {
    position: relative;
    right: unset;
}
    .home-carousel .item .content{
        width: 90%;
        margin: 0 auto;
        top:0px;
        left :15px;
        right: 15px;
        padding: 1rem;
    }
    .item h1{
        font-size: 14pt;
    }
    .item p{
        font-size: 12pt;
        line-height: 1.5;
    }
 .box{
     display: none;
 }
 .aboutus_two img{
width: 100%;
 }
 .enquiry .col-12{
     max-width: 90%;
     margin: 0 auto;
 }
}